.home--content {
    max-width: 750px;
    margin-bottom: 10vh;
}

.home--description {
    font-size: 1.25rem;
    margin-bottom: 50px;
}

.external-buttons {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: fit-content;
}
