.profile--content {
    max-width: 380px;
    width: 100%;
    background-color: #1a242f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem; 
}

.profile--form {
    width: 100%;
    text-align: center;
}

.profile--form--input {
    width: 100%;
    margin: 8px 0;
}