.profile--content {
    max-width: 380px;
    width: 100%;
    background-color: #1a242f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem; 
}

.profile--header {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.profile--form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.profile--form--input {
    margin: 9px 0;
}

.profile--form-textbox {
    width: 100%;
}

.profile--form--submit {
    width: min-content;
}