.profile--content {
    max-width: 400px;
    width: 100%;
    background-color: #1a242f;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem; 
}

.profile--form {
    width: 100%;
    text-align: center;
}

.profile--form--input {
    width: 100%;
    margin: 8px 0;
}