.auth--content {
    max-width: 320px;
    width: 100%;
    background-color: var(--background-alt);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.25rem; 
    border-radius: var(--round-corners-value);
}