:root {
    /* Water.css variables extension */
    /* --background-body: #202b38; */
    --background-body: #6242FF;
    /* --background: #161f27; */
    --background: #4A4489;
    /* --background-alt: #1a242f; */
    --background-alt: #3E3C73;
    --selection: #1c76c5;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-muted: #a9b1ba;
    --links: #41adff;
    --focus: #0096bfab;
    /* --border: #526980; */
    --border: #888EC0;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    /* --button-hover: #324759; */
    --button-hover: #404476;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;

    --round-corners-value: 6px;
}

* {
    box-sizing: border-box;
    
}

html {
    min-height: 100vh;
}

body {
  width: 100%;
  min-width: 99vw;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Electrolize', sans-serif;
}
