:root {
    --round-corners-value: 6px;
}

* {
    box-sizing: border-box;
    
}

html {
    min-height: 100vh;
}

body {
  width: 100%;
  min-width: 99vw;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Electrolize', sans-serif;
}
